{% extends "network/layout.html" %}

{% block body %}
<div style="padding: 15px;">
    <div id="account" style="padding: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            {% load static %}
            <img id="userpic_big" src="{{ username.image.url }}">
            {% if request.user.id != username.id %}   
                <button class="btn button_follow" id="follow-user">{% if follower_status %}<a id="follower-status">Unfollow</a>{% else %}<a id="follower-status">Follow</a>{% endif %}</button>
            {% else %}
            <div style="margin-bottom: auto;">
                <a href="{% url 'settings' %}"><button class="btn"><img src="{% static 'network/settings-icon.png' %}" height="32"></button></a>
            </div>
            {% endif %}
        </div>
        <p style="font-size:2rem;" id="username">{{ username.username }}</p>
        <p>bio</p>
        <p>location&nbsp;∙&nbsp;{{ username.email }}&nbsp;∙&nbsp;joined {{ username.date_joined.date }}</p>
        <p><a>{% if following %} {{ following.all.count }} {% else %} 0 {% endif %}</a> following&nbsp;∙&nbsp; <a id="followers-counter">{% if followers %} {{ followers.all.count }} {% else %} 0 {% endif %}</a> followers</p>
    </div>
    <div class="infinite-container">
    {% for post in posts %}
        {% include "network/post.html" %}
    {% endfor %}
    </div>
    {% if posts.has_next %}
    <div style="display: flex; justify-content: space-around;">
        <a class="infinite-more-link" href="{% url 'account_page' username.username posts.number|add:1 %}">load next..</a>
    </div>
    {% endif %}
</div>
<script src="{% static 'network/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'network/js/shortcuts/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],

        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
        }

    });
</script>
{% endblock %}