<div class="post" style="width: 100%;">
    <div style="display: flex; flex-direction: row; gap: 15px; padding: 5px; width: 100%;">
        <div>
            {% load static %}
            <img id="userpic_small" src="{% static 'network/cat_twitter.png' %}">
        </div>
        <div style="width: 80%;">
            <a class="username" href="{% url 'another_account' post.username_posts.username %}">{{ post.username_posts }}</a><a class="text-muted">&nbsp;∙&nbsp;{{ post.date }}</a>
            <br>
            <div style="display: block;" id="post-content">
                <a>{{ post.content }}</a>
            </div>
            {% if request.user.username == post.username_posts.username %}
            <input style="display: none;" id="id" value="{{ post.id }}">
            <div style="display: none;" id="post-content-edit">
                <input class="form-control" style="width: 100%;" value="{{ post.content }}">
                <div style="display: flex; justify-content: flex-end;"><button class="btn" id="save-editted">Save</button></div>
            </div>
            {% endif %}
            <a class="text-muted">{{ post.likes.all.count }} likes</a>
        </div>
        {% if request.user.username == post.username_posts.username %}
        <!--<div style="margin-left: auto;" class="edit_post">
            {% load static %}
            <button class="btn"><img id="edit_icon" src="{% static 'network/icon-edit.png' %}"></button>
        </div>!-->
        <div style="margin-left: auto;" id="post-options">
            <div style="display: flex; flex-direction: row-reverse;">
                <div style="margin-bottom: auto;"><button class="btn" style="height: 10px;" id="post-options-btn" type="button"><a>⋯</a></button></div>
                <div id="post-options-menu" style="display: none;">
                    <a class="edit_post">Edit</a>
                    <a class="delete_post">Delete</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>