{% extends "network/layout.html" %}

{% block body %}
<div id="settings" style="padding: 15px;">
    <table>
        <tr>
            {% load static %}
            <td><img style="border-radius: 100%; height: 90px;" src="{% static 'network/cat_twitter.png' %}"></td>
            <th><input type="file" accept="image/*"></th>
        </tr>
    </table>
    <table>
        <tr>
            <td>username</td>
            <th><input id="settings-username" value="{{ request.user.username }}" disabled></th>
        </tr>
        <tr>
            <td>email</td>
            <th><input id="settings-email" value="{{ request.user.email }}" disabled></th>
        </tr>
        <tr style="text-align: center;">
            <td style="padding-top: 15px; padding-bottom: 15px;" colspan="2"><button class="btn btn-secondary change-password-btn" style="height: 35px;"><div style="text-align: center;"><a>Change Password</a></div></button></td>
        </tr>
    </table>
    <table>
        <tr hidden id="cur-pas">
            <td>current password</td>
            <th><input></th>
            <th><button class="btn btn-secondary apply-cur-pass" style="height: 30px;"><a>Apply</a></button></th>
        </tr>
        <tr hidden id="new-pas">
            <td>password</td>
            <th><input></th>
            <th><button class="btn btn-secondary apply-new-pass" style="height: 30px;"><a>Apply</a></button></th>
        </tr>
        <tr hidden id="conf-pas">
            <td>confirm password</td>
            <th><input></th>
            <th><button class="btn btn-secondary confirm-conf-pass" style="height: 30px;"><a>Confirm</a></button></th>
        </tr>
    </table>
    <button class="btn btn-secondary" style="height: 35px;">Save</button>
</div>
{% endblock %}