# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
node_modules/.package-lock.json
node_modules/waypoints/.eslintrc
node_modules/waypoints/.npmignore
node_modules/waypoints/.travis.yml
node_modules/waypoints/bower.json
node_modules/waypoints/CHANGELOG.md
node_modules/waypoints/CONTRIBUTING.md
node_modules/waypoints/gulpfile.js
node_modules/waypoints/licenses.txt
node_modules/waypoints/package.json
node_modules/waypoints/README.md
node_modules/waypoints/src/adapters/jquery-zepto-fn-extension.js
node_modules/waypoints/src/adapters/jquery.js
node_modules/waypoints/src/adapters/noframework.js
node_modules/waypoints/src/adapters/zepto.js
node_modules/waypoints/src/context.js
node_modules/waypoints/src/debug.js
node_modules/waypoints/src/group.js
node_modules/waypoints/src/shortcuts/infinite.js
node_modules/waypoints/src/shortcuts/inview.js
node_modules/waypoints/src/shortcuts/sticky.js
node_modules/waypoints/src/waypoint.js
node_modules/waypoints/test/adapter-fn-spec.js
node_modules/waypoints/test/context-spec.js
node_modules/waypoints/test/debug-spec.js
node_modules/waypoints/test/fixtures/infinite.html
node_modules/waypoints/test/fixtures/standard.html
node_modules/waypoints/test/fixtures/sticky.html
node_modules/waypoints/test/group-spec.js
node_modules/waypoints/test/infinite-spec.js
node_modules/waypoints/test/inview-spec.js
node_modules/waypoints/test/settings.js
node_modules/waypoints/test/sticky-spec.js
node_modules/waypoints/test/waypoint-spec.js
node_modules/waypoints/testem.json
package-lock.json
package.json
